version: '3.3'
services:
  db:
    image: postgres:13.0-alpine
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  backend:
    build:
      context: ../backend/
      dockerfile: ./Dockerfile
    ports:
     - "8000:8000"
    restart: always
    volumes:
      - static_volume:/app/static/
      - media_volume:/app/media/
    depends_on:
      - db
    env_file:
      - ./.env
    
  # this service will use same image as web app, and once the migration is done it will be stopped
  backend_migrations:
    build:
      context: ../backend/
      dockerfile: ./Dockerfile
    command:
      - /bin/sh
      - -c
      - |
        python manage.py makemigrations
        python manage.py migrate
        python manage.py collectstatic --no-input
        python manage.py loaddata dump.json
    volumes:
      - static_volume:/app/static/
    depends_on:
      - backend
      - db
    env_file:
      - ./.env

  frontend:
    build:
      context: ../frontend/
      dockerfile: ./Dockerfile
    volumes:
      - ../frontend/:/app/result_build/

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_volume:/var/html/static/
      - media_volume:/var/html/media/

    depends_on:
      - backend
      - frontend

volumes:
  static_volume:
  media_volume:
  postgres_data: